---
layout: mainLayout.njk
---
<article>
	<div class="flex flex-col">
		<h1 class="text-xl mb-5 font-bold text-center">
				Section Adulte
		</h1>
		<table>
			<tr>
				<th class="text-right p-2" scope="row">Public</th>
				<td>Adulte (&gt;14 ans)</td>
			</tr>
			<tr>
				<th class="text-right align-top px-2">Entraînements</th>
				<td>
					<ul>
						<li>lundi 20h00–22h00 — Salle multisport des Longrais</li>
						<li class="mt-2">jeudi 20h15–22h15 — Terrain synthétique des Longrais</li>
					</ul>
				</td>
			</tr>
			<tr>
				<th class="text-right align-top p-2" scope="row">Modalités d'inscription</th>
				<td class="p-2">
					<ul class="list-inside list-disc">
						<li class="my-2">
							Tous les documents sont à envoyer par mail à
							<a class="underline text-yellow-700"
								 href="mailto:club@ultimate-thorigne-fouillard.fr"
							>club@ultimate-thorigne-fouillard.fr</a></li>
						<li class="my-2">Les dispositifs
							<a class="underline text-yellow-700"
								 target="_blank"
								 href="https://www.ancv.com/le-coupon-sport"
							>Coupon Sport</a>,
							<a class="underline text-yellow-700"
								 href="http://sortir-rennesmetropole.fr/"
								 target="_blank"
							>Sortir!</a>,
							et
							<a class="underline text-yellow-700"
								 href="https://www.sports.gouv.fr/pratiques-sportives/sports-pour-tous/pass-sport/"
								 target="_blank"
							>Pass'sport</a>
							sont possibles ainsi que'une facture pour CE.</li>
						<li class="mb-2">Remplir le <a href="https://goo.gl/forms/V77PayoLvA8pojEr2"
																target="_blank"
																class="underline text-yellow-700">Formulaire
								d'inscription</a></li>
						<li class="my-2">95€ d'Adhésion, si possible par virement
							<p class="mx-4 text-xs">IBAN: FR76 1558 9351 0106 7803 2714 031 BIC: CMBRFR2BARK</p>
						</li>
						<li class="my-2">une photo d’identité (numérique)</li>
						<!--<li class="my-2">signer
							<a class="underline text-yellow-700"
								 target="_blank"
								 href="https://www.ffdf.fr/wp-content/uploads/2021/07/Notice-individuelle-FFFD_MAIF_21_22.pdf"
							>la notice d'assurance</a>
							<a class="underline text-yellow-700 text-xs"
								 href="https://www.ffdf.fr/wp-content/uploads/2021/07/Garanties-FFFD_MAIF_21_22.pdf"
								 target="_blank"
							>voir les garanties</a></li>-->
						<li class="my-2">un certificat médical
							(<a class="underline text-yellow-700"
									href="http://www.ultimate-thorigne-fouillard.fr/documents/certificat.pdf"
									target="_blank"
							>modèle fédéral obligatoire</a>)
							ou <a class="underline text-yellow-700"
										href="http://www.ultimate-thorigne-fouillard.fr/documents/attestation.pdf"
										target="_blank">une attestation</a>.
							L’attestation remplace le certificat médical pour une
							réinscription, si votre dernier certificat date de
							moins de 3 ans <b>et</b> que vous avez répondu non à
							<a class="underline text-yellow-700"
								 href="http://www.ultimate-thorigne-fouillard.fr/documents/questionnaire.pdf"
								 target="_blank">toutes les questions</a>.</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
	<div class="m-5 flex flex-col items-center">
		<h1 class="text-xl mb-5 font-bold">Stade des Longrais</h1>
		<p>
			16 Rue des Longrais, 35235 Thorigné-Fouillard<a class="icon icon-external-link"
																											href="https://framacarte.org/fr/map/carte-sans-nom_28849"
																											aria-label="Lien vers la carte"></a></p>
		<iframe
			class="shadow-xl"
			width="100%"
			height="250px"
			src="https://framacarte.org/fr/map/carte-sans-nom_28849?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=false&allowEdit=false&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=false&datalayersControl=false&onLoadPanel=undefined&captionBar=false&fullscreenControl=false&locateControl=false&measureControl=false&editinosmControl=false#13/48.1523/-1.5734"
		></iframe>
	</div>
</article>
