---
layout: mainLayout.njk
---
<article>
	<div class="m-5 flex flex-col items-center">
		<h1 class="text-xl mb-5 font-bold">Contact</h1>
		<p>Martin Mouterde</p>
		<p>06 46 19 03 <span class="endPhone"></span></p>
		<p>
			<a class="underline text-yellow-700" href="mailto:club@ultimate-thorigne-fouillard.fr">club@ultimate-thorigne-fouillard.fr</a>
		</p>
		<div >
			<a class="underline text-yellow-700 flex gap-2" href="https://www.facebook.com/UltimateThorigne" >
				<img style="width: 24px; height:24px" src="{{ '/images/facebook_icon.svg' | url }}"> UltimateThorigne
			</a>
		</div>
	</div>
</article>
