---
layout: mainLayout.njk
---
<article>
	<h1 class="text-xl my-5 font-bold text-center">
		25–26 février 2023 : Retour DR2 INDOOR
	</h1>
	<iframe src="/documents/Indoor Open DR2 - Phase 2 - Planning.pdf" width="100%" height="1000px"></iframe>
</article>
